<%= form_with(model: categorium) do |form| %>
  <div class="d-grid gap-3 w-50">
  <div class="form-floating">
    <%= form.text_field :nome, required: "required", placeholder: "", class: "form-control", autocomplete:"off" %>
    <%= form.label :nome, "Nome" %>
  </div>

  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-outline-success">
      <input type="radio" name="categorium[tipo]" id="categorium_tipo_e" autocomplete="off" value="E" <%= categorium.tipo == 'E' ? 'checked' : '' %>> Entrada
    </label>
    <label class="btn btn-outline-danger">
      <input type="radio" name="categorium[tipo]" id="categorium_tipo_s" autocomplete="off" value="S" <%= categorium.tipo == 'S' ? 'checked' : '' %>> Saída
    </label>
  </div>

  <% if categorium.id%>
  <div class="form-floating">
    <input type="color" class="form-control" disabled="disabled" value="<%= categorium.cor %>" required="required" placeholder=""  />
    <%= form.label "Cor atual" %>
  </div>
  <% end %>
  <div class="form-floating">
    <input name="categorium[cor]" id="categorium_cor" type="color" class="form-control" value="<%= categorium.cor %>" required="required" placeholder=""  />
    <%= form.label :cor, (categorium.id ? "Nova cor" : "Cor") %>
  </div>

  <div>
    <%= form.submit "Gravar", class: "btn btn-primary" %>
    <%= link_to "Voltar", categoria_path, class:"btn btn-outline-secondary" %>
  </div>
<% end %>
