<!DOCTYPE html>
<html>
  <head>
    <title>Dove | <%= controller_name.humanize %> </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% if Rails.application.assets.find_asset(controller_name + "/" + action_name) %>
      <%= stylesheet_link_tag  controller_name + "/" + action_name, "data-turbo-track": "reload" %>
    <% end %>

    <%= javascript_importmap_tags %>
    
    <%= yield(:head) %>
  </head>

  <body>
    <%= render partial: "shared/flash" %>
    <%= yield %>
  </body>
</html>
