<!DOCTYPE html>
<html>
  <head>
    <title>Dove | <%= controller_name.humanize %> </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "shared/nav", preload: true %>

    <% if Rails.application.assets.find_asset(controller_name + "/" + action_name) %>
      <%= stylesheet_link_tag  controller_name + "/" + action_name, "data-turbo-track": "reload" %>
    <% end %>

    <%= javascript_importmap_tags %>
    
    <%= yield(:head) %>
  </head>

  <body>
    
    <div class="row m-0" style="height: 100vh"> 
      <div class="col-2 m-0 p-0 h-100">
        <%= render partial: "shared/nav" %>
      </div>

      <div class="col-10 h-100 border border-top-0 border-bottom-0" style="overflow-y: auto">
        <%= yield(:header)%>
        
        <div class="col-11 m-1">
          <%= render partial: "shared/flash" %>
        </div>
        
        <%= yield %>
      </div>
    </div>
  </body>
</html>
